:host{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board {
    border: 3px solid black;
    width: fit-content;
}

.row {
    display: flex;
}

.movable:not(.dragging) {
    transition: transform 300ms ease-in-out;
}

.player-label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}