.cell {
    width: calc(min(100vw/8 - 5px, 100vh/8 - 5px));
    height: calc(min(100vw/8 - 5px, 100vh/8 - 5px));
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #b58863 ;
}

.white {
    background-color: #f0d9b5;
}